:root {
    --spacing-1: 0.5rem;
    --spacing-2: 1rem;
    --spacing-3: 1.5rem;
    --spacing-radius-1: 0.25rem;
    --spacing-radius-2: 0.5rem;
    --spacing-radius-3: 0.75rem;
    --spacing-radius-100: 100%;

    --palette-primary: #007bff;
    --palette-primary-light: #4da6ff;
    --palette-text: #222222;
    --palette-text-light: #2d2d2d;
    --palette-text-disabled: #707070;
    --palette-background: #f0f0f0;
    --palette-background-disabled: #d2d2d2;
    --palette-paper: #fcfcfc;
    --palette-border: #707070;
    --palette-border-disabled: #b2b2b2;
    --palette-shadow: #00000050;
    --palette-shadow-light: #00000020;
    --palette-error: #b62929;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-size-xsmall: 10px;
    --font-size-small: 12px;
    --font-size-regular: 14px;
    --font-size-medium: 16px;
    --font-size-large: calc(var(--font-size-medium) * 1.25);
    --font-size-xlarge: calc(var(--font-size-medium) * 1.5);
    --font-letter-spacing: 0.0375rem;
}

body {
    font-family: 'Roboto', monospace;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

iframe {
    border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
button,
input,
select,
textarea,
label,
dialog {
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-regular);
    letter-spacing: var(--font-letter-spacing);
    margin: 0;
    padding: 0;
}

h1 {
    letter-spacing: calc(var(--font-letter-spacing) * 3.5);
    font-size: var(--font-size-xlarge);
}

h2 {
    letter-spacing: calc(var(--font-letter-spacing) * 3);
    font-size: var(--font-size-large);
}

h3 {
    letter-spacing: calc(var(--font-letter-spacing) * 2.5);
    font-size: var(--font-size-medium);
}

/*
    Scrollbar configuration
*/

::-webkit-scrollbar {
    width: 0.45rem;
    height: 0.45rem;
}

::-webkit-scrollbar-track {
    background-color: var(--palette-shadow-light);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--palette-primary);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--palette-primary-light);
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}
