.DigitalUi-Header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: calc(var(--spacing-2) * 0.75) var(--spacing-2);
    box-shadow: 0 2px 4px 0 var(--palette-shadow);
    border-bottom: 1px solid var(--palette-shadow-light);
}

.DigitalUi-Header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.DigitalUi-Header > div:first-child {
    justify-content: left;
}

.DigitalUi-Header > div:last-child {
    justify-content: right;
}