.DigitalUi-User {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: .75rem;

    & span {
        user-select: none;
        display: block;
    }

    & .DigitalUi-Button-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-1);
    }

    & .DigitalUi-User-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-1);
        padding: 5px 5px; /* FIXME: can't use var() for some reason */
    }
}

.DigitalUi-User-inverted {
    & .DigitalUi-Button-content {
        flex-direction: row-reverse;
    }
    & .DigitalUi-User-row {
        flex-direction: row-reverse;
    }
}

.DigitalUi-User-size-small span {
    font-size: 1rem;
}

.DigitalUi-User-size-medium span {
    font-size: 1.1rem;
}

.DigitalUi-User-size-large span {
    font-size: 1.3rem;
}

