.DigitalUi-Table {
    display: table;
    width: 100%;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
}

.DigitalUi-Table-Header-Cell {
    z-index: 1;
    background-color: var(--palette-background);
    color: var(--palette-text);
    border-bottom: 1px solid var(--palette-border);
    position: sticky;
    top: 0;
}

.DigitalUi-Table-Create {
    padding-right: calc(var(--spacing-3) * 1.4);
}

.DigitalUi-Table-Header-Cell .DigitalUi-Text {
    color: var(--palette-text-light);
}

.DigitalUi-Table-Header-Cell, .DigitalUi-Table-Body-Cell {
    padding: var(--spacing-1) calc(var(--spacing-1) * 0.75);
    align-self: start;
    text-align: left;
}