.DigitalUi-Dialog {
    z-index: 1001;
    margin: var(--spacing-3) auto;
    max-width: 780px;
    max-height: 715px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 var(--palette-shadow);
    overflow: hidden;
    border: none;
    border-radius: var(--spacing-radius-1);
    background-color: var(--palette-paper);

    @media (max-width: 800px) {
        max-width: 95%;
    }
    @media (max-width: 400px) {
        max-width: 90%;
    }

    .DigitalUi-Box {
        height: auto;
    }
}

.DigitalUi-Dialog-wrapper {
    align-items: stretch;
}

.DigitalUi-Dialog-panel {
    padding: var(--spacing-2);
    background-color: var(--palette-background);
    text-wrap: nowrap;
}

.DigitalUi-Dialog-content {
    width: 100%;
    padding: var(--spacing-2);
}

.DigitalUi-Dialog-header {
    width: 100%;
    padding: var(--spacing-2) var(--spacing-1) 0 var(--spacing-2);
    & hr {
        border-bottom: none;
        width: 100%;
    }
}

.DigitalUi-Dialog-actions {
    margin-top: var(--spacing-1);
    margin-right: var(--spacing-1);
}

.DigitalUi-Dialog-background {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--palette-shadow);
}
