.Editor {
    background-color: var(--palette-background);
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;

    & .Tool {
        min-width: 350px;
        border-right: 1px solid var(--palette-shadow-light);

        & .Tool-render {
            overflow-y: auto;
        }
    }

    & .Edit {
        width: 100%;
        height: 100%;
        overflow: hidden;

        & .Edit-State {
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            background-color: var(--palette-paper);
            border-bottom: 1px solid var(--palette-shadow-light);
        }
    }

    & .ToolBar {
        background-color: var(--palette-paper);
        border-right: 1px solid var(--palette-shadow-light);
        border-bottom: 1px solid var(--palette-shadow-light);
        display: flex;
        padding: var(--spacing-1);

        & .ToolBar-separator {
            background-color: var(--palette-border-disabled);
            height: 1px;
            width: 100%;
            margin: var(--spacing-1) 0;
        }
    }
}
