.DigitalUi-Toast {
    --animation-duration: 0.5s;
    --top-margin: var(--spacing-3);

    z-index: 1090;
    visibility: visible;
    position: absolute;
    top: var(--top-margin);
    left: 50%;
    margin: auto;
    transform: translate(-50%, 0);

    width: fit-content;
    max-width: 375px;
    @media (max-width: 500px) {
        width: 90%;
    }

    background-color: var(--palette-text-light);
    padding: calc(var(--spacing-1) * 1.5) var(--spacing-2);
    border-radius: var(--spacing-1);

    -webkit-animation: fadein var(--animation-duration);
    animation: fadein var(--animation-duration);

    & .DigitalUi-Text {
        color: var(--palette-background);
    }

    & svg {
        fill: var(--palette-background);
    }
}

.DigitalUi-Toast-hidden {
    visibility: hidden;
    -webkit-animation: fadeout var(--animation-duration);
    animation: fadeout var(--animation-duration);
}

.DigitalUi-Toast-variant-error {
    & svg {
        fill: var(--palette-error);
    }
}

.DigitalUi-Toast-variant-success {
    & svg {
        fill: var(--palette-primary);
    }
}

@keyframes fadein {
    from {
        visibility: hidden;
        top: 0;
        opacity: 0;
    }
    to {
        visibility: visible;
        top: var(--top-margin);
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        visibility: visible;
        top: var(--top-margin);
        opacity: 1;
    }
    to {
        visibility: hidden;
        top: 0;
        opacity: 0;
    }
}