
.DevWidget {
    --background: rgba(188, 36, 255, 0.4);
    --border: 1px solid rgba(188, 36, 255, 0.8);
    --color: white;

    position: absolute;
    z-index: 9999;
    resize: both;
    overflow: auto;

    background-color: var(--background);
    border: var(--border);
    box-shadow: .25rem .25rem .25rem var(--palette-shadow-light);
    color: var(--color);

    display: flex;
    flex-direction: column;
}

.DevWidget-title {
    border-bottom: var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem;
    gap: var(--spacing-3);
    user-select: none;
}

.DevWidget-content {
    padding: .25rem;
    gap: var(--spacing-1);
}

.DevWidget-grabbing {
    cursor: grabbing;
}

.DevWidget-grab {
    cursor: grab;
}

.DevWidget {
    font-size: smaller;

    & .DigitalUi-Text {
        font-size: smaller;
    }

    & .DigitalUi-Text-variant-caption {
        font-size: small;
    }

    & .DigitalUi-Text-variant-h1 {
        font-size: medium;
    }

    & .DigitalUi-Text-variant-h2 {
        font-size: medium;
    }

    & .DigitalUi-Text-variant-h3 {
        font-size: medium;
    }
}
