.Edit {
    width: 100%;
    height: 100%;
    overflow: hidden;

    & .Edit-State {
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        background-color: var(--palette-paper);
        border-bottom: 1px solid var(--palette-shadow-light);
    }
}