.SafariUi-Button {
    height: fit-content;
    width: fit-content;
    min-width: 0;
    min-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    white-space: nowrap;

    padding: calc(var(--spacing-1) * 0.5) var(--spacing-2);
    border: 1px solid;
    border-radius: var(--spacing-radius-1);
    color: inherit;
    transition: all 0.3s ease;

    & .SafariUi-Loader {
        position: absolute;
        left: 50%;
        top: 16.666%;
        transform: translate(-50%, -50%);
    }
    & button {
        user-select: none;
    }
}

.SafariUi-Button-fullWidth {
    width: 100%;
}

.SafariUi-Button-disabled {
    pointer-events: none;
    cursor: default;
}

.SafariUi-Button-loading {
    cursor: default;
    pointer-events: none;

    & .SafariUi-Loader {
        position: absolute;
        top: 36%;
    }

    & .SafariUi-Button-content {
        opacity: 0;
    }
}

.SafariUi-Button-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: var(--spacing-1);
}

.SafariUi-Button-variant-primary {
    background-color: var(--palette-primary);
    border-color: var(--palette-primary);

    &:hover,
    &.SafariUi-Button-selected {
        background-color: var(--palette-primary-light);
        border-color: var(--palette-primary-light);
    }

    &.SafariUi-Button-disabled {
        background-color: var(--palette-background-disabled);
        border-color: var(--palette-background-disabled);
        color: var(--palette-text-disabled);
    }
}

.SafariUi-Button-variant-secondary {
    background-color: transparent;
    border-color: var(--palette-primary);

    &:hover {
        border-color: var(--palette-primary-light);
        color: var(--palette-primary-light);
    }

    &:hover,
    &.SafariUi-Button-selected {
        border-color: var(--palette-primary);
        color: var(--palette-primary);
    }

    &.SafariUi-Button-disabled {
        border-color: var(--palette-text-disabled);
        color: var(--palette-text-disabled);
    }
}

.SafariUi-Button-variant-text {
    border-color: transparent;
    background-color: transparent;

    &:hover {
        color: var(--palette-primary-light);
    }

    &:hover,
    &.SafariUi-Button-selected {
        color: var(--palette-primary);
    }

    &.SafariUi-Button-disabled {
        color: var(--palette-text-disabled);
    }
}

.SafariUi-Button-variant-icon {
    padding: calc(var(--spacing-1) * 0.5);

    line-height: 0.8rem;
    background-color: transparent;
    border-color: transparent;

    &:hover {
        background-color: var(--palette-primary-light);
    }

    &.SafariUi-Button-selected {
        background-color: var(--palette-primary);
    }

    &.SafariUi-Button-disabled svg {
        fill: var(--palette-text-disabled);
    }
}
