.DigitalUi-InputSelect {
    width: 100%;

    & select {
        width: 100%;
        border: none;
        cursor: pointer;
        background: transparent;
        color: var(--palette-text);
    }

    & option {
        color: var(--palette-background);
    }
}
