.DigitalUi-Text {
    color: var(--palette-text);
}

.DigitalUi-Text-variant-caption {
    letter-spacing: calc(var(--font-letter-spacing) * 2);
    text-transform: uppercase;
}

.DigitalUi-Text-variant-h3 .DigitalUi-Text-variant-h2 .DigitalUi-Text-variant-h1 {
    text-transform: capitalize;
}

.DigitalUi-Text-bold {
    font-weight: bold;
}

.DigitalUi-Text-italic {
    font-style: italic;
}

.DigitalUi-Text-size-small {
    font-size: var(--font-size-small);
}

.DigitalUi-Text-size-regular {
    font-size: var(--font-size-regular);
}

.DigitalUi-Text-size-medium {
    font-size: var(--font-size-medium);
}

.DigitalUi-Text-size-large {
    font-size: var(--font-size-large);
}

.DigitalUi-Text-size-xlarge {
    font-size: var(--font-size-xlarge);
}

