.SafariUi-InputBox {
    position: relative;
}

.SafariUi-InputBox {
    --input-padding: calc(var(--spacing-1) * 0.5) calc(var(--spacing-2) * 0.5);

    width: 250px;
    height: fit-content;
    border: 1px solid var(--palette-border);
    border-radius: var(--spacing-radius-1);
    background-color: var(--palette-paper);
    color: var(--palette-text);
    padding: var(--input-padding);

    &.SafariUi-InputBox-fullWidth {
        width: 100%;
    }

    &.SafariUi-InputBox-disabled {
        background-color: var(--palette-background-disabled);
        border-color: var(--palette-border-disabled);

        & input {
            color: var(--palette-text-disabled);
            width: 100%;
        }
    }

    &.SafariUi-InputBox-borderless {
        border: none;
        background-color: transparent;
    }

    &.SafariUi-InputBox-loading {
        outline: none;

        & input, select {
            color: var(--palette-text-disabled);
            caret-color: transparent;
            cursor: default;
        }
    }
}

.SafariUi-InputBox-error {
    border-color: var(--palette-error);
    outline: 1px solid var(--palette-error);
}

.SafariUi-InputBox-selected {
    outline: 1px solid var(--palette-primary);

    &.SafariUi-InputBox-error {
        outline-color: var(--palette-error);
    }

    &.SafariUi-InputBox-borderless {
        outline: none;
    }
}

.SafariUi-Input-label {
    position: absolute;
    top: -1.1rem;
    left: 0;
    font-size: 0.7rem;
}